# Set

A set is a collection of unique items, with the structural implementation of the `set` not allowing duplicate values. A set is defined by curly braces { }

In [1]:
set1 = {1,2,3}
print(set1)

{1, 2, 3}

We can initialise a set with duplicate values, but a set will only retain unique values from the ones specified. Here is an example.

In [2]:
set1 = {1,1,2,3}
print(set1)

{1, 2, 3}

The above example shows that we tried to define the set with the number `1` being added into it twice. However, the output shows that the number `1` was saved in the set only once, as the set stores only unique values. 

It is important to note that a set does not give ordering guarantees of the elements. In the above example, all three of these refer to exactly the same set. 

```
{1,2,3}
{2,3,1}
{3,2,1}
```

## Add an element

We can add an element to an existing set by using the `add` function. The resulting set will ensure uniqueness of the added value within the set. An add operation modifies the original set.

In [3]:
set1 = {1,2,3}
set1.add(2)
set1.add(4)

print(set1)

{1, 2, 3, 4}

## Find an element

We can search a set to see if a specified element is present within the set. This can be done using the `in` keyword.

In [4]:
set1 = {1,2,3}
contains2 = 2 in set1
contains4 = 4 in set1

print('Contains 2:', contains2)
print('Contains 4:', contains4)

Contains 2: True
Contains 4: False

## Remove an element

We can remove an element from a set by using the `remove` function. A remove operation modifies the original set.

In [5]:
set1 = {1,2,3}
set1.remove(2)

print(set1)

{1, 3}

We cannot attempt to remove an inexistent element from the set. The operation will return in a `KeyError` if the specified element to be removed is not found within the set.

In [6]:
set1 = {1,2,3}
set1.remove(4)

print(set1)

KeyError: 4

To prevent an accidential `KeyError`, we can always check to see if the element is present within the set or not before attempting a delete operation.

In [7]:
set1 = {1,2,3}

if 4 in set1:
    set1.remove(4)

print(set1)

{1, 2, 3}

## Pop an element

We can pop out a random element from the set. This is usually done when you want to iterate over the set to fully consume it. What we mean by consume is, we don't want the value we popped to be present within the set; and we will continue to do so until the set is empty.

In [8]:
set1 = {1,2,3}

for a in range(len(set1)):
    print('Pop:',set1.pop())
    
print('set1', set1)

Pop: 1
Pop: 2
Pop: 3
set1 set()

A `pop` operation will result in a `KeyError` if invoked on an empty set.

In [9]:
set1 = {1}
set1.pop()
set1.pop()

KeyError: 'pop from an empty set'

In the above example, the first `pop` operation on `set1` succeeds, but the second results in an error. The second time the pop is invoked an empty set. 

## Union

We can create a union of 2 sets, which creates a new set containing unique elements found across both the sets.

In [10]:
set1 = {1,2,3}
set2 = {2,3,4}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4}

The `set3` produced contains the values `{1, 2, 3, 4}`. The original sets `set1` and `set2` are not modified by the operation. We can print them to confirm.

In [11]:
print('Set 1:', set1)
print('Set 2:', set2)

Set 1: {1, 2, 3}
Set 2: {2, 3, 4}

A unique can also be performed using pipe operator `|`

In [12]:
set1 = {1,2,3}
set2 = {2,3,4}

set3 = set1 | set2
print(set3)

{1, 2, 3, 4}

`set1 | set2` and `set1.union(set2)` both do exactly the same thing. 

## Intersection

One can perform an intersection operation on sets. This results in a set that contains elements which are present in both sets. Let us take the same example as before, but this time we will do an intersection operation.

In [13]:
set1 = {1,2,3}
set2 = {2,3,4}

set3 = set1.intersection(set2)
print(set3)

{2, 3}

We can now see that the resulting set `set3` has only `{2,3}`; which are values that were present in both the sets that we intersected.

Intersection can also be performed by using `&` operator.

In [14]:
set1 = {1,2,3}
set2 = {2,3,4}

set3 = set1 & set2
print(set3)

{2, 3}

Both `set1.intersection(set2)` and `set1 & set2` do exactly the same thing.